<div style="background-color: rgb(132, 202, 204);">
<a href="/invites" style="text-decoration: none; font-size: 18px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:rgb(82, 82, 82);
padding: 10px">Public Invitations</a>
<a href="/dashboard" style="text-decoration: none;font-size: 18px;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:rgb(82, 82, 82);
padding: 10px"> Dashboard</a>
<a href="/auth/logout" style="text-decoration: none; font-size: 18px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:rgb(82, 82, 82);
padding: 10px">Logout</a>
<a href="/profile" style="text-decoration: none; font-size: 18px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:rgb(82, 82, 82);
padding: 10px">my profile</a>
</div>


