<h2>Create invitations</h2>
<p style="font-weight: 200; font-family:'tahoma'; color:rgb(80, 80, 80)">Login here!</p>

<div>
    <a href="/auth/google" class='btn' style="margin:40px">
    LOGIN WITH GOOGLE</a>
</div>