<body style="background-color:rgb(1, 1, 114);">
   <h3 style="color:rgb(212, 211, 211)">Add Invitation</h3>
<a href="/addblank" style="text-decoration: none; color:rgb(135, 228, 112)">blank</a>
<br>
<a href="/wedding" style="text-decoration: none; color:rgb(240, 207, 137)">wedding</a>
<br>
<a href="/birthday" style="text-decoration: none; color:rgb(243, 129, 173)">birthday</a>
 
</body>

