<body style="background-image: url(../images/wed.jpg); background-repeat:no-repeat; background-size:cover;">
    <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight:300; color:rgb(252, 219, 130); text-align:center">Wedding Of 
    <br>
    Sujita and Raman
</h2>
<p style="font-family: sans-serif; font-weight:200px; font-size:medium; color:blanchedalmond; text-align: center">12th of feb, 2020</p>
<br>

<div class="row">
    <form action="/invites" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <br>

<form action="/invites" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="venue" name="venue">
                <label for="venue">Venue</label>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <br>


<h3 style="font-family:serif; font-weight:100px; color:rgb(250, 225, 173); text-align: center">Come and grace with your presence!</h3>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
</body>
